
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ma lop</th>
					<th>Thoi gian</th>
					<th>Dia diem</th>
					<th>Ma hoc phan</th>
					<th>Ten hoc phan</th>
					<th>Max dang ki</th>
					<th>Da dang ki</th>
				</tr>
			</thead>
			<body>
				<%object.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc, lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.hocphan.mahocphan%></td>
					<td><%=lh.hocphan.tenhocphan%></td>
					<td style="text-align: center"><%=lh.maxdangki%></td>
					<td style="text-align: center"><%=lh.dangkilophocs.count%></td>
				</tr>
				<% end %>
			</body>
		</table>
	<%= will_paginate object , :outer_window=>1,:inner_window=>1,class: "pager"%><br>
