<tr>
	<td><%=link_to lophoc.malophoc, lophoc%></td>
	<td><%=toStrTime(lophoc.thoigian)%></td>
	<td><%=lophoc.diadiem%></td>
	<td><%=lophoc.mahocphan%></td>
	<td><%=lophoc.tenhocphan%></td>
	<td><%=lophoc.maxdangki%></td>
	<td><%=lophoc.dadangki%></td>
</tr>