<%=provide(:title,"Edit lop hoc ")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Thay đổi thông tin lop hoc </h1>
		<%= form_for(@lophoc) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Ma lop hoc" %>
		    <%= f.text_field :malophoc ,class: 'form-control', placeholder: "Nhập ma lop hoc "%>
		    <%= f.label :"Thoi gian" %>
		    <%= f.text_field :thoigian ,value: nil,class: 'form-control', placeholder: "thu,batdau,ketthuc "%> 
		    <%= f.label :"Dia diem" %>
		    <%= f.text_field :diadiem ,class: 'form-control', placeholder: "Nhập phong hoc "%>
		    <%= f.label :"Max dang ki" %>
		    <%= f.number_field :maxdangki ,class: 'form-control', placeholder: "Nhập so luong toi da "%>
		    <%= f.label :"Giao vien" %>
		    <%= f.collection_select :giaovien_id, Giaovien.all, :id, :tengiaovien, prompt: true %>
		    <%= f.label :"Hoc phan" %>
		    <%= f.collection_select :hocphan_id, Hocphan.all, :id, :mahocphan, prompt: true %>
		    <%= f.label :"Hoc ki" %>
		    <%= f.collection_select :hocki_id, Hocki.all, :id, :mahocki, prompt: true %>
		    <%= f.submit "Thay đổi ",class: "btn btn-primary"%>
		<% end %>
	</div>
</div>
