<%=provide(:title,"Edit lop hoc ")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3" style="background-color:#F2F5A9">
		<h1 style="text-align: center; font-size: 40px;">Thay đổi thông tin lớp học</h1>
		<div class="form-horizontal" style="margin-top: 20px;">
			<%= form_for(@lophoc) do |f| %>
			    <%= render 'shared/error_messages', object: f.object %>
					<div class="form-group">
						<%= f.label :"Mã lớp học" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :malophoc ,class: 'form-control', placeholder: "Nhập mã lớp học "%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Thời gian" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :thoigian ,value: nil,class: 'form-control', placeholder: "thu,batdau,ketthuc "%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Địa điểm" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :diadiem ,class: 'form-control', placeholder: "Nhập phòng học"%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Max đăng kí",class:"control-label col-sm-4" %>
						<div class="col-sm-8">
							<%= f.number_field :maxdangki ,class: 'form-control', placeholder: "Nhập so luong toi da "%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Giao vien" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.collection_select :giaovien_id, Giaovien.all, :id, :tengiaovien, prompt: true %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Học phần" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.collection_select :hocphan_id, Hocphan.all, :id, :mahocphan, prompt: true %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"Học kì",class:"control-label col-sm-4" %>
						<div class="col-sm-8">
							<%= f.collection_select :hocki_id, Hocki.all, :id, :mahocki, prompt: true %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<%= f.submit "Thay đổi ",class: "btn btn-primary"%>
						</div>
					</div>
			<% end %>
		</div>
	</div>
</div>
