<%=provide(:title,"Danh muc lop hoc")%>
<div class="row">
	<div class="col-md-4">
		<%= form_tag(lophocs_path, method: "get") do %>
			<table>
				<tr>
					<td>Hoc ki</td>
					<td><%=select_tag "hocki_id", options_from_collection_for_select(@hockis, "id", "mahocki",@selected[:hocki_id]),:include_blank=>"None",:onchange => "this.form.submit();"%> </td>
				</tr>
				<tr>
					<td>Khoa vien</td>
					<td><%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%></td>
				</tr>
				<tr>
					<td>Ma lop</td>
					<td><%=text_field_tag 'malophoc',@selected[:malophoc]%></td>
				</tr>
				<tr>
					<td>Ma hoc phan</td>
					<td><%=text_field_tag 'mahocphan',@selected[:mahocphan]%></td>
				</tr>
			</table>
			<div id="button_search">
				<%= submit_tag("Search") %>
			</div>
		<% end %>
	</div>
	<div class="col-md-8", style="background-color:#9FF781">
		<%= render 'list',object: @lophocs %>
		<div id="button_download">
			<%= link_to " Tải xuống ", lophocs_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
		</div>
	</div>
</div>
