<%=provide(:title,"Danh muc lop hoc")%>
<div class="row">
	<div class="col-md-4">
		Danh sach lop hoc<br>
		<%= form_tag(lophocs_path, method: "get") do %>
			Hoc ki <%=select_tag "hocki_id", options_from_collection_for_select(@hockis, "id", "mahocki",@selected[:hocki_id]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>
		  	Khoa vien <%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>
		  	Ma lop <%=text_field_tag 'malophoc',@selected[:malophoc]%><br>
		  	Ma hoc phan <%=text_field_tag 'mahocphan',@selected[:mahocphan]%><br>
		  	<%= submit_tag("Search") %>
		<% end %>				
	</div>
	<div class="col-md-8">
		<%= render 'list',object: @lophocs %>
		<%= link_to " Tải xuống ", lophocs_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>	  	
	</div>
</div>
