<%=provide(:title,"Thêm lớp học")%>
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<h1 style="text-align: center; font-size: 40px;">Thêm lớp học mới </h1>
		<%= form_for(@lophoc) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :"Mã lớp học" %>
			<%= f.text_field :malophoc ,class: 'form-control', placeholder: "Nhập mã lớp học"%>
			<%= f.label :"Thời gian" %>
			<%= f.text_field :thoigian ,class: 'form-control', placeholder: "Nhập thời gian (thu,batdau,ketthuc) "%>
			<%= f.label :"Địa điểm" %>
			<%= f.text_field :diadiem ,class: 'form-control', placeholder: "Nhập phòng học"%>
			<%= f.label :"Max đăng kí"%>
			<%= f.number_field :maxdangki ,class: 'form-control', placeholder: "Nhập số lượng tối đa"%>
			<%= f.label :"Giáo viên" %>
			<%= f.collection_select :giaovien_id, Giaovien.all, :id, :tengiaovien, prompt: true %>
			<%= f.label :"Học phần" %>
			<%= f.collection_select :hocphan_id, Hocphan.all, :id, :mahocphan, prompt: true,class: 'form-control' %>
			<%= f.label :"Học kì"%>
			<%= f.collection_select :hocki_id, Hocki.all, :id, :mahocki, prompt: true %>
			<%= f.submit "Thêm lớp học",class: "form-control btn btn-primary"%>			
		<% end %>		
	</div>	
	<div class="col-md-4">
			<h3>Nhập từ file CSV </h3>
	  	<%= form_tag import_lophocs_path, multipart: true do %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Nạp",class: "form-control btn btn-info" %>
	  	<% end %>
	</div>
</div>
