<%=provide(:title,"Tìm kiếm lớp học")%>
<div class="row" id="lophoc_search">
	<div class="col-md-4">
		<%=label_tag "Học kì"%><br>
		<%=select_tag "hocki_id", options_from_collection_for_select(Hocki.all, "id", "mahocki"),:include_blank=>"All"%><br>
		<%=label_tag "Khoa viện"%><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>
		<%=label_tag "Mã lớp"%><br>
		<%=text_field_tag 'malophoc'%><br>
		<%=label_tag "Mã học phần"%><br>
		<%=text_field_tag 'mahocphan'%><br>		
	</div>
	<div class="col-md-8">
		<h1>Danh sách lớp học</h1>	
		<div id="results"></div>
	</div>
</div>