<%=provide(:title,"クラス情報")%>
<div class="row">
	<div class="col-md-4" style="background-color:#F6D8CE; font-size:15px;">
		<ul class="list-group">
				<li class="list-group-item"><b>クラスコ➖ド: </b><%=@lophoc.malophoc%></li>
				<li class="list-group-item"><b>タイム: </b><%=toStrTime(@lophoc.thoigian)%></li>
				<li class="list-group-item"><b>教室: </b><%=@lophoc.diadiem%></li>
				<li class="list-group-item"><b>教師: </b><%=@lophoc.tengiaovien%></li>
				<li class="list-group-item"><b>科目: </b><%=@lophoc.tenhocphan%>-<%=@lophoc.mahocphan%></li>
				<li class="list-group-item"><b>学期: </b><%=@lophoc.mahocki%></li>
				<li class="list-group-item"><b>登録した： </b><%=@lophoc.dadangki%>/<%=@lophoc.maxdangki%></li>
		</ul>		
		
	</div>	
	<div class="col-md-6">
		<%= render "sinhviens/list", object: @sinhviens %>
	</div>
</div>
