<%=provide(:title,"Danh sách giáo viên")%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<<h1>Danh sách giáo viên</h1>
		<div class="form-horizontal">			
			<%= form_tag(giaoviens_path, method: "get") do %>
				<div class="form-group">
					<label class="control-label col-sm-4">Khoa viện</label>
					<div class="col-sm-8">
						<%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Tên giáo viên</label>
					<div class="col-sm-8">
						<%=text_field_tag "tengiaovien",@selected[:tengiaovien]%>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<%= submit_tag("Tìm kiếm giáo viên") %>
					</div>
				</div>
			<% end %>
		</div>
		<%= render 'list', object: @giaoviens %>
		<%= link_to ' Thêm giáo viên ', new_giaovien_path %>
	</div>
</div>
