<%=provide(:title,"Danh sach giao vien")%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="form-horizontal">
			<%= form_tag(giaoviens_path, method: "get") do %>
				<div class="form-group">
					<label class="control-label col-sm-4">Khoa viện</label>
					<div class="col-sm-8">
						<%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Tên giáo viên</label>
					<div class="col-sm-8">
						<%=text_field_tag "tengiaovien",@selected[:tengiaovien]%>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<%= submit_tag("Tìm kiếm giao viên") %>
					</div>
				</div>
			<% end %>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã GV</th>
					<th>Tên GV</th>
					<th>Ngày sinh</th>
					<th>Email</th>
					<th>Khoa viện</th>
				</tr>
			</thead>
			<body>
				<%@giaoviens.each do |gv| %>
				<tr>
					<td><%=gv.magiaovien%></td>
					<td><%=link_to gv.tengiaovien,gv%></td>
					<td><%=gv.ngaysinh%></td>
					<td><%=gv.email%></td>
					<td><%=gv.khoavien.tenkhoavien%></td>
				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @giaoviens , :outer_window=>1,:inner_window=>1%>
		<%= page_entries_info @giaoviens %><br>
		<%= link_to ' Thêm giáo viên ', new_giaovien_path %>
	</div>
</div>
