<%=provide(:title,"教師追加")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3" style="background-color:#F2F5A9">
		<h1 style="text-align: center; font-size: 40px;">教師を追加</h1>
		<div class="form-horizontal" style="margin-top:20px;">
			<%= form_for(@giaovien) do |f| %>
			    <%= render 'shared/error_messages', object: f.object %>
					<div class="form-group">
						<%= f.label :"教師コ➖ド" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
					    <%= f.text_field :magiaovien ,class: 'form-control', placeholder: "Nhập mã giáo viên "%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"教師名" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
					    <%= f.text_field :tengiaovien ,class: 'form-control', placeholder: "Nhập tên giáo viên"%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"誕生日" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
					    <%= f.date_select :ngaysinh ,:start_year=>1900,:end_year=>2000%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"メ➖ル" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
					    <%= f.text_field :email ,class: 'form-control', placeholder: "Nhập email "%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"学部" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
					    <%= f.collection_select :khoavien_id, Khoavien.all, :id, :tenkhoavien, prompt: true %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<%= f.submit "追加",class: "btn btn-primary"%>
						</div>
					</div>  
			<% end %>
		</div>
	</div>	
</div>
