<%=provide(:title,"教師検索")%>
<div class="row" id="giaovien_search" >
	<div class="col-md-4">
		<%=label_tag "学部"%><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>
		<%=label_tag "教師名"%><br>
		<%=text_field_tag "tengiaovien"%>			
	</div>
	<div class="col-md-8">
		<h1>教師を検索</h1>
		<div id="results"></div>
	</div>
</div>
