<%=provide(:title,"Thong tin giao vien ")%>
<div class="row">
	<div class="col-md-3">
		Ma giao vien <%=@giaovien.magiaovien%><br>		
		Giao vien <%=@giaovien.tengiaovien%><br>
		Ngay sinh <%=@giaovien.ngaysinh%><br>
		Email <%=@giaovien.email%><br>
		Khoa vien <%=@khoavien.tenkhoavien%><br>		
		<%=link_to " Edit ",edit_giaovien_path(@giaovien)%>		
	</div>
	<div class="col-md-9">
				  	
	</div>
</div>

