<div class="row">
	<div class="col-md-6">
		<h1>Vao thang html:</h1><br>
		Ma hoc ki <%=object.mahocki%><br>		
		Dinh muc hoc phi <%=object.dinhmuchocphi%><br>
		Thoi gian bat dau <%=object.bd%><br>
		Thoi gian ket thuc <%=object.kt%><br>
		<%=link_to " Sửa ",edit_hocki_path(object)%>		
	</div>
	<div class="col-md-6">
		mot con bo chan to
	</div>
</div>

