<h1>A hi hi</h1>
<ul>
	
</ul>
<li><%=link_to "Danh muc hoc phan",hocphans_path%></li>
<li><%=link_to "Chuong trinh dao tao cua sinh vien",canhans_chuongtrinhdaotao_path%></li>
<li><%=link_to "Thoi khoa bieu",canhans_thoikhoabieu_path%></li>
<li><%=link_to "Bang diem ca nhan", canhans_bangdiem_path%></li>
<li><%=link_to "Danh sach lop hoc",lophocs_path%></li>
<li><%=link_to "Danh sach dang ki lop", dangkilophocs_path %></li>
<li><%=link_to "Danh sach hoc phan mo dang ki",hocphans_path%></li>
<li><%=link_to "Dang ki hoc phan",dangkihocphans_path%></li>
<li><%=link_to "Danh sach lop sinh vien",lopsinhviens_path%></li>
<li><%=link_to "Sinh vien dang ki hoc tap",canhans_dangkihoctap_path%></li>
<li><%=link_to "Tra cuu hoc phi sinh vien",canhans_hocphi_path%></li>
<li><%=link_to "Thong tin sinh vien",canhans_thongtin_path%></li>