<div class="row" id="tthk">
	<div class="col-md-6">
		<h1>Vao thang html:</h1><br>
		Ma hoc ki <%=@hocki.mahocki%><br>		
		Dinh muc hoc phi <%=@hocki.dinhmuchocphi%><br>
		Thoi gian bat dau <%=@hocki.bd%><br>
		Thoi gian ket thuc <%=@hocki.kt%><br>
		<%=link_to " Sửa ",edit_hocki_path(@hocki)%>		
	</div>
	<div class="col-md-6">
		mot con bo chan to
	</div>
</div>