<div class="w3-container">
	<div class="row">
		<p id="score_title">
			<b>Bang diem ca nhan</b>
		</p>
	</div>
	<div class="row" id="blue_line">
	</div>
	<div class="container" id="student_info">
		<div id="student_info_label">
			<p id="student_info_title">
				Thong tin sinh vien
			</p>
		</div>
		<div class="row" id="green_line">
		</div>
		<div class="container" id="student_info_board">
			<ul>
				<li>Ma sinh vien: <b><%=@sinhvien.masinhvien%></b></li>
				<li>Ten sinh vien: <b><%=@sinhvien.tensinhvien%></b></li>
			</ul>
		</div>
	</div>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Hoc ki</th>
				<th>Ma hoc phan</th>
				<th>Ten hoc phan</th>
				<th>Tin chi</th>
				<th>Lop hoc</th>
				<th>Dien qua trinh</th>
				<th>Diem thi</th>
				<th>Diem chu</th>
			</tr>
		</thead>
		<body>
			<%@bangdiems.each do |bd| %>
			<tr>
				<td><%=bd[:mahocki]%></td>
				<td><%=bd[:mahocphan]%></td>
				<td><%=bd[:tenhocphan]%></td>
				<td><%=bd[:tinchi]%></td>
				<td><%=bd[:malophoc]%></td>
				<td><%=bd[:diemquatrinh]%></td>
				<td><%=bd[:diemthi]%></td>
				<td><%=bd[:diemchu]%></td>
			</tr>
			<%end%>
		</body>

	</table>
</div>
