Ma sinh vien <%=@sinhvien.masinhvien%><br>
Chuong trinh dao tao danh cho sinh vien <%=@sinhvien.tensinhvien%><br>
<table>
	<head>
		<tr>
			<td>Ma hoc phan</td>
			<td>Ten hoc phan</td>
			<td>Ki hoc</td>
			<td>Tin chi</td>
			<td>Diem chu</td>
			<td>Diem so</td>
			<td>Khoa vien</td>
		</tr>
	</head>
	<body>
		<%@results.each do |r| %>
		<tr>
			<td><%=r[:mahocphan]%></td>
			<td><%=r[:tenhocphan]%></td>
			<td><%=r[:hocki]%></td>
			<td><%=r[:tinchi]%></td>
			<td><%=r[:diemchu]%></td>
			<td><%=r[:diemso]%></td>
			<td><%=r[:khoavien]%></td>			
		</tr>
		<%end%>
	</body>

</table>
