
<b>Chuong trinh dao tao danh cho sinh vien</b> <%=@sinhvien.tensinhvien%> (<b>MSSV:</b> <%=@sinhvien.masinhvien%>)<br><br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Ma hoc phan</th>
			<th>Ten hoc phan</th>
			<th>Ki hoc</th>
			<th>Tin chi</th>
			<th>Diem chu</th>
			<th>Diem so</th>
			<th>Khoa vien</th>
		</tr>
	</thead>
	<body>
		<%@results.each do |r| %>
		<tr>
			<td><%=r[:mahocphan]%></td>
			<td><%=r[:tenhocphan]%></td>
			<td><%=r[:hocki]%></td>
			<td><%=r[:tinchi]%></td>
			<td><%=r[:diemchu]%></td>
			<td><%=r[:diemso]%></td>
			<td><%=r[:khoavien]%></td>
		</tr>
		<%end%>
	</body>
</table>
