Sinh vien dang ki hoc tap<br>

<%= form_tag("/canhans/dangkihoctap", method: "get") do %>	
  	Chon hoc ki<%=select_tag "mahocki",options_from_collection_for_select(@hockis, "id", "mahocki")%>
	Ma sinh vien <%=text_field_tag "masinhvien"%>
  	<%= submit_tag("Search") %>
<% end %>
<table >
	<head>
		<tr>
			<td>Ma sinh vien</td>
			<td>Ten sinh vien</td>
			<td>Ngay sinh</td>
			<td>Ma lop dang ki</td>
			<td>Ma hoc phan</td>
			<td>Ten hoc phan</td>	
		</tr>
	</head>
	<body>
		<%@results.each do |r| %>
		<tr>
			<td><%=r[:masinhvien]%></td>
			<td><%=r[:tensinhvien]%></td>
			<td><%=r[:ngaysinh]%></td>
			<td><%=r[:malophoc]%></td>
			<td><%=r[:mahocphan]%></td>
			<td><%=r[:tenhocphan]%></td>			
		</tr>
		<% end %>
	</body>
</table>
