<%=provide(:title,"Edit chuong trinh dao tao ")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Thay đổi thông tin chuong trinh dao tao </h1>
		<%= form_for(@chuongtrinhdaotao) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Lop sinh vien" %>
		    <%= f.collection_select :lopsinhvien_id, Lopsinhvien.all, :id, :tenlopsinhvien, prompt: true %>
		    <%= f.label :"Hoc phan" %>
		    <%= f.collection_select :hocphan_id, Hocphan.all, :id, :mahocphan, prompt: true %>
		    <%= f.label :"Hoc ki" %>
		    <%= f.number_field :hocki %>
		    <%= f.submit "Thay đổi ",class: "btn btn-primary"%>
		<% end %>
	</div>
</div>
