<%=provide(:title,"Chương trình đào tạo sinh viên") %>
<div class="row" id="show_ctdts">
	<div class="col-md-8 col-md-offset-2">
		<h1>Chương trình đào tạo cho lớp sinh viên:<br> <b><%=@lopsinhvien.tenlopsinhvien%></b></h1><br> 
      	<%=label_tag "Xếp theo"%><br>
      	<%=select_tag "sort_by", options_from_collection_for_select([["hocki","Học kì"],["mahocphan","Mã học phần"],["tenhocphan","Tên học phần"],["tinchi","Số tín chỉ"]], :first, :last )%>
      	<%=link_to '',new_chuongtrinhdaotao_path,class: 'btn btn-success glyphicon glyphicon-plus'%>
      	<div id="results" lopsinhvien_id="<%=@lopsinhvien.id%>">  
  		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Kì học</th>
					<th>Mã học phần</th>
					<th>Tên học phần</th>
					<th>Tín chỉ</th>
					<th>Tín chỉ học phí</th>
					<th>Trọng số</th>
					<th>Khoa viện</th>
				</tr>
			</thead>
			<tbody>
				<%@ctdts.each do |ct| %>
				<tr>
					<td><%=ct.hocki%></td>
					<td><%=link_to ct.mahocphan,hocphan_path(ct.id)%></td>
					<td><%=ct.tenhocphan%></td>
					<td><%=ct.tinchi%></td>
					<td><%=ct.tinchihocphi%></td>
					<td><%=(1-ct.trongso).round(1)%>-<%=ct.trongso%></td>
					<td><%=ct.tenkhoavien%></td>
					<td><%=link_to '',ct, method: :delete,data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @ctdts ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%>
		<%= page_entries_info @ctdts, model: "học phần" %><br>
		</div>
	</div>
</div>