<tr>
	<td><%=dangkilophoc.malophoc%></td>
	<td><%=dangkilophoc.masinhvien%></td>
	<td><%=dangkilophoc.trongso%></td>
	<td><%=dangkilophoc.diemquatrinh%></td>
	<td><%=dangkilophoc.diemthi%></td>
	<td><%=dangkilophoc.diemchu%></td>	
	<td><%=link_to '',edit_dangkilophoc_path(dangkilophoc),class: "btn btn-warning glyphicon glyphicon-edit"%></td>
</tr>