<%=provide(:title,"Edit dang ki lop hoc ")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Thay đổi thông tin dang ki lop hoc </h1>
		<%= form_for(@dangkilophoc) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Sinh vien" %>
		    <%= f.collection_select :sinhvien_id, Sinhvien.all, :id, :masinhvien, prompt: true %>
		    <%= f.label :"Lop hoc" %>
		    <%= f.collection_select :lophoc_id, Lophoc.all, :id, :malophoc, prompt: true %>
		    <%= f.label :"Diem qua trinh" %>
		    <%= f.text_field :diemquatrinh %>
		    <%= f.label :"Diem thi" %>
		    <%= f.text_field :diemthi %>
		    
		    <%= f.label :"He so hoc phi" %>
		    <%= f.number_field :hesohocphi %>
		    <%= f.submit "Thay đổi ",class: "btn btn-primary"%>
		<% end %>
	</div>
</div>
