<%=provide(:title,"Danh sach dang ki lop hoc")%>
<div class="row">
	<div class="col-md-6">
		<h1 style="text-align: center; font-size: 30px;">Danh sách đăng kí lớp học</h1>
		<div class="form-horizontal" style="margin-top: 20px;">
			<%=form_tag(dangkilophocs_path,method: "GET") do %>
				<div class="form-group">
					<label class="control-label col-sm-4"> Mã lớp học</label>
					<div class="col-sm-8">
						<%=text_field_tag :malophoc,@selected[:malophoc], placeholder: "Nhập mã lớp học"%>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Mã sinh viên</label>
					<div class="col-sm-8">
						<%=text_field_tag :masinhvien,@selected[:masinhvien], placeholder: "Nhập mã sinhvien"%>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<%=submit_tag "Tìm kiếm",class: "btn btn-info glyphicon glyphicon-search"%>
					</div>
				</div>
			<%end%>

		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã lớp học</th>
					<th>Mã sinh viên</th>
					<th>Trọng số</th>
					<th>Điểm quá trình</th>
					<th>Điểm thi</th>
					<th>Điểm chữ</th>
				</tr>
			</thead>
			<body>
				<%@dklhs.each do |dklh| %>				
				<tr>

					<td><%=dklh.malophoc%></td>
					<td><%=dklh.masinhvien%></td>
					<td><%=dklh.trongso%></td>
					<td><%=dklh.diemquatrinh%></td>
					<td><%=dklh.diemthi%></td>
					<td><%=dklh.diemchu%></td>
					<td><%=link_to 'Sửa điểm',edit_dangkilophoc_path(dklh)%></td>
				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @dklhs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @dklhs %><br>
	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-4">

			<h3>Cập nhật điểm từ file CSV </h3>
	  	<%= form_tag import_dangkilophocs_path, multipart: true do %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Nạp",class: "btn btn-info" %>
	  	<% end %>

	</div>
</div>
