<%=provide(:title,"Danh sách đăng kí lớp học")%>
<div class="row" id="dklh_search">
	<div class="col-md-8">
		<h1 style="text-align: center; font-size: 30px;">Danh sách đăng kí lớp học</h1>
		<%=label_tag "Học kì" %><br>
		<%=select_tag :hocki_id, options_from_collection_for_select(Hocki.all,"id","mahocki"), include_blank: "All"%><br>
		<%=label_tag "Mã lớp học" %><br>
		<%=text_field_tag :malophoc,nil, placeholder: "Nhập mã lớp học"%><br>
		<%=label_tag "Mã sinh viên" %><br>
		<%=text_field_tag :masinhvien,nil, placeholder: "Nhập mã sinh viên"%><br>
		<div id="dklh_list">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Mã lớp học</th>
					<th>Mã sinh viên</th>
					<th>Trọng số</th>
					<th>Điểm quá trình</th>
					<th>Điểm thi</th>
					<th>Điểm chữ</th>
				</tr>
			</thead>
			<tbody>
				<%=render @dklhs %>
			</tbody>
		</table>
		<%= will_paginate @dklhs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @dklhs, model: "đăng kí lớp học" %>
		</div>
	</div>	
	<div class="col-md-4">
		<h3>Cập nhật điểm từ file CSV </h3>
	  	<%= form_tag import_dangkilophocs_path, multipart: true do %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Nạp",class: "btn btn-info" %>
	  	<% end %>
	</div>
</div>
