<%=provide(:title,"Thêm đăng kí lớp học")%>
<div class="row">
	<div class="col-md-9">
		<h1>Thêm đăng kí lớp học mới </h1>
		<%= form_for(@dangkilophoc) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>		    
			    <%= f.label :"Sinh vien" %>
			    <%= f.collection_select :sinhvien_id, @sinhviens, :id, :masinhvien, prompt: true %>
			    <%= f.label :"Lop hoc" %>
			    <%= f.collection_select :lophoc_id, @lophocs, :id, :malophoc, prompt: true %>       
		    <%= f.submit "Thêm ",class: "btn btn-primary"%>
		<% end %>
	</div>	
</div>
