<%=provide(:title,"クラス登録")%>
<div class="row" id="dangkilophoc">
	<div class="col-md-7">		
		<%=label_tag "学部" %><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>
		<%=label_tag "クラスコ➖ド" %><br>
		<%=text_field_tag 'malophoc'%><br>
		<%=label_tag "科目コ➖ド" %><br>
		<%=text_field_tag 'mahocphan'%><br>			
		<div id="lophoc_list" sinhvien_id="<%=@sinhvien.id%>">		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>クラスコ➖ド</th>
					<th>タイム</th>
					<th>教室</th>
					<th>科目コ➖ド </th>
					<th>科目名</th>
					<th>最大</th>
					<th>名</th>
				</tr>
			</thead>
			<tbody>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc,lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.mahocphan%></td>
					<td><%=lh.tenhocphan%></td>
					<td><%=lh.maxdangki%></td>
					<td><%=lh.num_of_dklhs%></td>
					<% if @sinhvien %>
					<td><%=link_to '',dangkilophocs_path(dangkilophoc: {:sinhvien_id=>@sinhvien.id,:lophoc_id=>lh.id}),method: :post,class: "btn btn-success glyphicon glyphicon-plus"%></td>
					<%end%>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @lophocs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @lophocs, model: "クラス"%><br>
		</div>
	</div>
	<div class="col-md-5">
		<% if @registeds %>
		<div class="col-md-12" style="text-align: center; font-size: 30px; margin-bottom: 20px;">
			学期： <%=@hocki_modangkilophoc.mahocki%>
		</div>
		<table class="table table-stripped table-bordered">
			<thead>
				<tr>
					<th>クラスコ➖ド</th>
					<th>タイム</th>
					<th>教室</th>
					<th>科目コ➖ド</th>
					<th>科目名</th>
					<th>単位</th>
					<th>学費単位</th>
					<th>学期係数</th>
				</tr>
			</thead>
			<body>								
				<%@registeds.each do |dklh| %>
				<tr>
					<td><%=dklh.malophoc%></td>
					<td><%=toStrTime(dklh.thoigian)%></td>
					<td><%=dklh.diadiem%></td>
					<td><%=dklh.mahocphan%></td>
					<td><%=dklh.tenhocphan%></td>
					<td><%=dklh.tinchi%></td>
					<td><%=dklh.tinchihocphi%></td>					
					<td><%=dklh.hesohocphi%></td>
					<td><%=link_to '',dklh, method: :delete,data: { confirm: '削除' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>			
				</tr>
				<% end %>
				<tr>
					<td colspan="5">合計</td>
					<td><%=@registeds.sum(&:tinchi)%></td>
					<td><%=@registeds.sum(&:tongphi)%></td>			
				</tr>
			</body>
		</table>
		単位学費: <b><%=@hocki_modangkilophoc.dinhmuchocphi%></b> <br>
		学費: <b><%=@registeds.sum(&:tongphi)*@hocki_modangkilophoc.dinhmuchocphi%></b><br>
		<%else%>		
		<%end%>
	</div>
</div>
