<%=provide(:title,"Đăng kí lớp học")%>
<div class="row" id="dangkilophoc">
	<div class="col-md-7">		
		<%=label_tag "Khoa viện" %><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>
		<%=label_tag "Mã lớp học" %><br>
		<%=text_field_tag 'malophoc'%><br>
		<%=label_tag "Mã học phần" %><br>
		<%=text_field_tag 'mahocphan'%><br>			
		<div id="lophoc_list" sinhvien_id="<%=@sinhvien.id%>">		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Mã lớp</th>
					<th>Thời gian</th>
					<th>Địa điểm</th>
					<th>Mã học phần </th>
					<th>Tên học phần</th>
					<th>Max đăng kí</th>
					<th>Đã đăng kí</th>
				</tr>
			</thead>
			<tbody>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc,lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.mahocphan%></td>
					<td><%=lh.tenhocphan%></td>
					<td><%=lh.maxdangki%></td>
					<td><%=lh.num_of_dklhs%></td>
					<% if @sinhvien %>
					<td><%=link_to '',dangkilophocs_path(dangkilophoc: {:sinhvien_id=>@sinhvien.id,:lophoc_id=>lh.id}),method: :post,class: "btn btn-success glyphicon glyphicon-plus"%></td>
					<%end%>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @lophocs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @lophocs, model: "lớp học"%><br>
		</div>
	</div>
	<div class="col-md-5">
		<% if @registeds %>
		<div class="col-md-12" style="text-align: center; font-size: 30px; margin-bottom: 20px;">
			Đăng kí lớp trong học kì <%=@hocki_modangkilophoc.mahocki%>
		</div>
		<table class="table table-stripped table-bordered">
			<thead>
				<tr>
					<th>Mã lớp</th>
					<th>Thời gian</th>
					<th>Địa điểm</th>
					<th>Mã học phần</th>
					<th>Tên học phần</th>
					<th>Tín chỉ</th>
					<th>Tín chỉ học phí</th>
					<th>Hệ số học phí</th>
				</tr>
			</thead>
			<body>								
				<%@registeds.each do |dklh| %>
				<tr>
					<td><%=dklh.malophoc%></td>
					<td><%=toStrTime(dklh.thoigian)%></td>
					<td><%=dklh.diadiem%></td>
					<td><%=dklh.mahocphan%></td>
					<td><%=dklh.tenhocphan%></td>
					<td><%=dklh.tinchi%></td>
					<td><%=dklh.tinchihocphi%></td>					
					<td><%=dklh.hesohocphi%></td>
					<td><%=link_to '',dklh, method: :delete,data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>			
				</tr>
				<% end %>
				<tr>
					<td colspan="5">Tổng</td>
					<td><%=@registeds.sum(&:tinchi)%></td>
					<td><%=@registeds.sum(&:tongphi)%></td>			
				</tr>
			</body>
		</table>
		Định mức học phí: <b><%=@hocki_modangkilophoc.dinhmuchocphi%></b> <br>
		Học phí trong học kì: <b><%=@registeds.sum(&:tongphi)*@hocki_modangkilophoc.dinhmuchocphi%></b><br>
		<%else%>
		Chưa đăng kí lớp học nào trong học kì này.
		<%end%>
	</div>
</div>
