<%=provide(:title,"学部リスト")%>
<div class="row" id="khoavien_search">
	<div class="col-md-8">
		<h1>学部を検索</h1>		
		<%=text_field_tag :tenkhoavien,nil,placeholder: "Tìm khoa viện"%><br>
		<div id="results"><%=render 'list', object: @khoaviens %></div>
	</div>
	<div class="col-md-4">
		<h3>Add from .csv file</h3>
	  	<%= form_tag import_khoaviens_path, multipart: true do %>
		    <%= file_field_tag :file %>
		    <%= submit_tag "Import",class: "form-control btn btn-info" %>
	  	<% end %>
	</div>
</div>

