<%=provide(:title,"Danh sách khoa viện")%>
<div class="row" id="khoavien_search">
	<div class="col-md-8">
		<h1>Danh sách khoa viện</h1>		
		<%=text_field_tag :tenkhoavien,nil,placeholder: "Tìm khoa viện"%><br>
		<div id="results"><%=render 'list', object: @khoaviens %></div>
	</div>
	<div class="col-md-4">
		<h3>Thêm, cập nhật từ file CSV </h3>
	  	<%= form_tag import_khoaviens_path, multipart: true do %>
		    <%= file_field_tag :file %>
		    <%= submit_tag "Nạp",class: "form-control btn btn-info" %>
	  	<% end %>
	</div>
</div>
