<%=provide(:title,"学部情報")%>
<div class="row" id="khoavien_info">	
	<div class="col-md-4">
		<b>学部名: </b> <%=@khoavien.tenkhoavien%><br>
		<b>教室: </b> <%=@khoavien.diadiem%><br>
		<b>電話: </b> <%=@khoavien.sodienthoai%><br>
		<ul class="list-group">
			<li class="list-group-item"><button id="sinhviens" class="btn btn-primary" khoavien_id= "<%=@khoavien.id%>">学生リスト</button></li>
			<li class="list-group-item"><button id="hocphans" class="btn btn-success" khoavien_id= "<%=@khoavien.id%>">科目リスト</button></li>
			<li class="list-group-item"><button id="giaoviens" class="btn btn-info" khoavien_id= "<%=@khoavien.id%>">教師リスト</button></li>
		</ul>
	</div>
	<div class="col-md-8" id="show">
	</div>
</div>
