<%=provide(:title,"Thong tin khoa vien ")%>
<div class="row">
	<div class="col-md-3">
		Ten khoa vien <%=@khoavien.tenkhoavien%><br>
		Dia diem <%=@khoavien.diadiem%><br>
		So dien thoai <%=@khoavien.sodienthoai%><br>
		<ul>
			<li><%=link_to 'Danh sach lop sinh vien',lopsinhviens_path(:khoavien_id=>@khoavien.id)%></li>
			<li><%=link_to 'Danh sach hoc phan',hocphans_path(:khoavien_id=>@khoavien.id)%></li>
			<li><%=link_to 'Danh sach giao vien',giaoviens_path(:khoavien_id=>@khoavien.id)%></li>
		</ul>
	</div>
	<div class="col-md-9">			  	
	</div>
</div>




