<table class="table table-hover table-striped table-bordered">
	<thead>
		<tr>
			<th>Kì học</th>
			<th>Mã học phần</th>
			<th>Tên học phần</th>
			<th style="text-align: center">Tín chỉ</th>
			<th style="text-align: center">Tín chỉ học phí</th>
			<th>Trọng số</th>
			<th>Khoa viện</th>
		</tr>
	</thead>
	<body>
		<%object.each do |hp| %>

		<tr>
			<td><%=hp.hocki%></td>
			<td><%=link_to hp.mahocphan,hp%></td>
			<td><%=hp.tenhocphan%></td>
			<td style="text-align:center"><%=hp.tinchi%></td>
			<td style="text-align:center"><%=hp.tinchihocphi%></td>
			<td><%=(1-hp.trongso).round(1)%>-<%=hp.trongso%></td>
			<td><%=hp.khoavien.tenkhoavien%></td>
		</tr>
		<% end %>
	</body>
</table>
<%= will_paginate object ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1, class: "pager"%>
<%= page_entries_info object %><br>
