<%@thus=[0,1,2,3,4]%>
			<%@tiets=[[1,"6h45"],[2,"7h35"],[3,"8h30"],[4,"9h20"],[5,"10h15"],[6,"11h05"],[7,"12h30"],[8,"13h20"],[9,"14h15"],[10,"15h05"],[11,"16h00"],[12,"16h50"]]%>
			<table class="table table-hover table-striped table-bordered">
				<thead >
					<tr bgcolor="coral">
					<th>コ➖マ</th>
					<th>タイム</th>
					<%@thus.each do |th|%> 
					<th>日 <%=th+2%></th>
					<%end%>
					</tr>
				</thead>
			<tbody>
				<% @tiets.each do |tiet|%>
				<tr>
					<td bgcolor="coral"><%= tiet.first %></td>
					<td bgcolor="coral"><%= tiet.last %></td>
					<%@thus.each do |th|%>
						<% i=th*12+tiet.first-1 %>		
						<%if object[i] !=nil %>
								<%tmp=object[i].hocphan%>
								<%if tmp.lophocs.count==1%>
								<td bgcolor="red">
									<%=tmp.mahocphan%>
								</td>
								<%else%>
								<td bgcolor="lawngreen">
									<%=tmp.mahocphan%>
								</td>
								<%end%>
							<%else%>
							<td></td>		
						<%end%>						
					<%end%>
					
				</tr>
				<% if tiet.first==6%>
					<tr><td></td></tr>
				<%end%>
				<%end%>
			</tbody>
		</table>