<%=provide(:title,"Bảng điểm cá nhân")%>
<div class="row">
	<div class="col-md-7">
		<div class="container" id="student_info">
			<div id="student_info_label">
				<p id="student_info_title">
					Thông tin sinh viên
				</p>
			</div>
			<div class="row" id="green_line">
			</div>
			<div class="container" id="student_info_board">
				<ul class="list-group">
					<li>Mã sinh viên: <b><%=@current_sinhvien.masinhvien%></b></li>
					<li>Tên sinh viên: <b><%=@current_sinhvien.tensinhvien%></b></li>
					<li>Ngày sinh: <b><%=@current_sinhvien.ngaysinh%></b></li>
					<li>Lớp: <b><%=@current_sinhvien.lopsinhvien.tenlopsinhvien%></b></li>
					<li>Email: <b><%=@current_sinhvien.email%></b></li>
					<li>Trạng thái: <b><%= @current_sinhvien.trangthai ? "Học" : "Thôi học"%></b></li>
				</ul>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã học kì</th>
					<th>Mã học phần</th>
					<th>Tên học phần</th>
					<th>Tín chỉ</th>
					<th>Mã lớp học</th>
					<th>Điểm quá trình</th>
					<th>Điểm thi</th>
					<th>Điểm chữ</th>
				</tr>
			</thead>
			<body>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=lh.mahocki%></td>
					<td><%=lh.mahocphan%></td>
					<td><%=lh.tenhocphan%></td>
					<td><%=lh.tinchi%></td>
					<td><%=lh.malophoc%></td>
					<td><%=lh.diemquatrinh%></td>
					<td><%=lh.diemthi%></td>
					<td><%=lh.diemchu%></td>

				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @lophocs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @lophocs %><br>
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Mã học kì</th>
					<th>GPA</th>
					<th>CPA</th>
					<th>Tín chỉ đạt</th>
					<th>Tín chỉ đăng kí</th>
					<th>Tín chỉ tích lũy</th>
					<th>Tín chỉ nợ</th>
				</tr>
			</thead>
			<tbody>
				<%tcdangki=tcdat=tctichluy=cpa=gpa=tongdiem=tongdiemkhoa=0%>
				<% if @lophocs.count>0 %>
				<%mahockidangxet=@lophocs.first.mahocki%>
				<%@lophocs.each do |lh| %>					
					<% if mahockidangxet!=lh.mahocki%>
						<tr>
							<td><%=mahockidangxet%></td><%mahockidangxet=lh.mahocki%><%gpa=tcdat>0 ? (tongdiem/tcdat).round(2) : 0%><%tongdiemkhoa+=tongdiem%><%tongdiem=0%><%cpa=tcdangki>0 ? (tongdiemkhoa/tcdangki).round(2) : 0%>
								<%tctichluy+=tcdat%>
							<td><%=gpa%></td><%gpa=0%>
							<td><%=cpa%></td>
							<td><%=tcdat%></td><%tcdat=0%>
							<td><%=tcdangki%></td>
							<td><%=tctichluy%></td>
							<td><%=tcdangki-tctichluy%></td>
						</tr>
					<%else%>
					<%end%>
					<%tcdangki+=lh.tinchi%>
					<%tcdat+=lh.tinchi if (lh.diemquatrinh || lh.diemthi)&&lh.diemso>=1.0%>
					<%tongdiem+=lh.tinchi*lh.diemso if lh.diemso%>
				<% end %>
				<tr>
					<td><%=mahockidangxet%></td><%gpa=tcdat>0 ? (tongdiem/tcdat).round(2) : 0%><%tongdiemkhoa+=tongdiem%><%tongdiem=0%><%cpa=tcdangki>0 ? (tongdiemkhoa/tcdangki).round(2) : 0%>
								<%tctichluy+=tcdat%>
					<td><%=gpa%></td>
					<td><%=cpa%></td>
					<td><%=tcdat%></td>
					<td><%=tcdangki%></td>
					<td><%=tctichluy%></td>
					<td><%=tcdangki-tctichluy%></td>
				</tr>
				<% end %>
			</body>
		</table>

	</div>
</div>
