<%=provide(:title,"Danh muc lop hoc")%>
<div class="row">
	<div class="col-md-7">
		<div class="container" id="student_info">
			<div id="student_info_label">
				<p id="student_info_title">
					Thong tin sinh vien
				</p>
			</div>
			<div class="row" id="green_line">
			</div>
			<div class="container" id="student_info_board">
				<ul>
					<li>Ma sinh vien: <b><%=@sinhvien.masinhvien%></b></li>
					<li>Ten sinh vien: <b><%=@sinhvien.tensinhvien%></b></li>
				</ul>
			</div>
		</div>
		<%= will_paginate @lophocs , :outer_window=>1,:inner_window=>1%>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ma HK</th>
					<th>Ma HP</th>
					<th>Ten HP</th>
					<th>TC</th>
					<th>Ma LH</th>
					<th>Diem QT</th>
					<th>Diem thi</th>
					<th>Diem chu</th>
				</tr>
			</thead>
			<body>
				<%@lophocs.each do |lh| %>
				<tr>
					<%dk=lh.dangkilophocs.find_by(sinhvien_id:current_sinhvien.id)%>
					<td><%=lh.hocki.mahocki%></td>
					<td><%=lh.hocphan.mahocphan%></td>
					<td><%=lh.hocphan.tenhocphan%></td>
					<td><%=lh.hocphan.tinchi%></td>
					<td><%=lh.malophoc%></td>
					<td><%=dk.diemquatrinh%></td>
					<td><%=dk.diemthi%></td>
					<td><%=dk.diemchu%></td>

				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @lophocs , :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @lophocs %><br>
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Ma HK</th>
					<th>GPA</th>
					<th>CPA</th>
					<th>TC dat</th>
					<th>TCDK</th>
					<th>TCTL</th>
					<th>TC no</th>
				</tr>
			</thead>
			<tbody>
				<%tcdangki=tcdat=tctichluy=cpa=gpa=tongdiem=tongdiemkhoa=0%>

				<% if @lophocs.count>0 %>
				<%hk=@lophocs.first.hocki%>
				<%@lophocs.each do |lh| %>
				
					<%hp=lh.hocphan%>
					<%dk=lh.dangkilophocs.find_by(sinhvien_id:current_sinhvien.id)%>
					<% if hk!=lh.hocki%>
						<tr>
							<td><%=hk.mahocki%></td><%hk=lh.hocki%><%gpa=tcdat>0 ? (tongdiem/tcdat).round(2) : 0%><%tongdiemkhoa+=tongdiem%><%tongdiem=0%><%cpa=tcdangki>0 ? (tongdiemkhoa/tcdangki).round(2) : 0%>
								<%tctichluy+=tcdat%>
							<td><%=gpa%></td><%gpa=0%>
							<td><%=cpa%></td>
							<td><%=tcdat%></td><%tcdat=0%>
							<td><%=tcdangki%></td>
							<td><%=tctichluy%></td>
							<td><%=tcdangki-tctichluy%></td>
						</tr>
					<%else%>

					<%end%>	
					<%tcdangki+=hp.tinchi%>
					<%tcdat+=hp.tinchi if (dk.diemquatrinh || dk.diemthi)&&dk.diemso>=1.0%>
					<%tongdiem+=hp.tinchi*dk.diemso if dk.diemso%>				
				<% end %>
				<tr>
							<td><%=hk.mahocki%></td><%gpa=tcdat>0 ? (tongdiem/tcdat).round(2) : 0%><%tongdiemkhoa+=tongdiem%><%tongdiem=0%><%cpa=tcdangki>0 ? (tongdiemkhoa/tcdangki).round(2) : 0%>
								<%tctichluy+=tcdat%>
							<td><%=gpa%></td>
							<td><%=cpa%></td>
							<td><%=tcdat%></td>
							<td><%=tcdangki%></td>
							<td><%=tctichluy%></td>
							<td><%=tcdangki-tctichluy%></td>
				</tr>
				<% end %>
			</body>
		</table>	  	

	</div>
</div>
