<%=provide(:title,"Chương trình đào tạo sinh viên")%>
<div class="row">
<div class="xyz">
  Chương trình đào tạo cho sinh viên <%=current_sinhvien.tensinhvien%>, lớp <%=current_sinhvien.lopsinhvien.tenlopsinhvien%><br>
</div>
<%= form_tag(chuongtrinhdaotao_sinhviens_path, method: "get") do %>
  <div class="form-inline">
    <div class="col-md-4">
      Xếp theo <%=select_tag "sort_by", options_from_collection_for_select([["hocki","Học kì"],["mahocphan","Mã học phần"],["tenhocphan","Tên học phần"],["tinchi","Số tín chỉ"]], :first, :last ,@selected[:sort_by]), :onchange=>"this.form.submit();"%>
    </div>    
  </div>
<% end %>
  <%= render 'listctdt', object: @hocphans %>
<div id="button_download_subjects_list">
  <%= link_to " Tải xuống ", hocphans_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
</div>
</div>
