<%=provide(:title,"Dang ki lop hoc")%>
<div class="row">
	<div class="col-md-6">
		<div class="col-md-9" style="margin-bottom: 30px;">
			<%= form_tag(dangkilophoc_sinhviens_path, method: "get") do %>
				<div class="form-group">
					<label class="col-sm-4 control-label">Khoa viện</label>
					<%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();",class:"col-sm-8"%>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Mã lớp học</label>
					<%=text_field_tag 'malophoc',@selected[:malophoc],class:"col-sm-8"%>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Mã học phần</label>
					<%=text_field_tag 'mahocphan',@selected[:mahocphan],class:"col-sm-8"%>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<div class="col-sm-offset-4 col-sm-8">
						<%= submit_tag("Tìm kiếm lớp học") %>
					</div>
				</div>
			<% end %>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã lớp</th>
					<th>Thời gian</th>
					<th>Địa điểm</th>
					<th>Mã HP</th>
					<th>Tên HP</th>
					<th>Max DK</th>
					<th>Đã DK</th>
				</tr>
			</thead>
			<body>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc, lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.hocphan.mahocphan%></td>
					<td><%=lh.hocphan.tenhocphan%></td>
					<td><%=lh.maxdangki%></td>
					<td><%=lh.dangkilophocs.count%></td>
					<% if sinhvien? %>
					<td><%=link_to 'Đăng kí',dangkilophocs_path(dangkilophoc: {:sinhvien_id=>current_sinhvien.id,:lophoc_id=>lh.id}),method: :post %></td>
					<%end%>
				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @lophocs ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @lophocs %><br>
	</div>
	<div class="col-md-6">
		<% if @registeds && @registeds.count>0 %>
		<div class="col-md-12" style="text-align: center; font-size: 30px; margin-bottom: 20px;">
			Đăng kí lớp trong học kì <%=current_hocki_modklophoc.mahocki%>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Mã lớp</th>
					<th>Thời gian</th>
					<th>Địa điểm</th>
					<th>Mã HP</th>
					<th>Tên HP</th>
					<th>TC</th>
					<th>TCHP</th>
					<th>HSHP</th>
				</tr>
			</thead>
			<body>
				<%tongTinChi=0%>
				<%tongTien=0%>
				<%@registeds.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc, lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.hocphan.mahocphan%></td>
					<td><%=lh.hocphan.tenhocphan%></td>
					<td><%=lh.hocphan.tinchi%></td><%tongTinChi+=lh.hocphan.tinchi%>
					<td><%=lh.hocphan.tinchihocphi%></td>
					<%heso=lh.dangkilophocs.find_by(sinhvien_id: current_sinhvien.id).hesohocphi%>
					<td><%=heso%></td><%tongTien+=heso*lh.hocphan.tinchihocphi%>
					<td><%=link_to ' ',Dangkilophoc.where("lophoc_id=? and sinhvien_id=?",lh.id,current_sinhvien.id).first, method: :delete,
				                                     data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>
				</tr>
				<% end %>
				<tr>
					<td></td><td></td><td></td><td></td><td></td>
					<td><%=tongTinChi%></td>
					<td><%=tongTien%></td>
					<td></td>
				</tr>
			</body>
		</table>
		Định mức học phí: <b><%=@hocki.dinhmuchocphi%></b> <br>
		Học phí trong học kì: <b><%=tongTien*@hocki.dinhmuchocphi%></b><br>
		<%else%>
		Chưa đăng kí lớp nào trong HK này
		<%end%>
	</div>
</div>
