<%=provide(:title,"学生情報更新")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3" style="background-color:#F2F5A9">
		<h1 style="text-align: center; font-size: 40px;">学生情報を更新</h1>
		<div class="form-horizontal", style="margin-top: 20px;">
			<%= form_for(@sinhvien) do |f| %>
			    <%= render 'shared/error_messages', object: f.object %>
					<div class="form-group">
						<%= f.label :"学生名" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :tensinhvien ,class: 'form-control', placeholder: ""%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"学生コ➖ド " ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :masinhvien ,class: 'form-control', placeholder: "",readonly: true%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"誕生日 " ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.date_select :ngaysinh ,:start_year=>1980,:end_year=>2000%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"メ➖ル" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.text_field :email ,class: 'form-control', placeholder: ""%>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"調子" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.collection_radio_buttons :trangthai, [[true,"勉強"],[false,"辞めた"]], :first, :last %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :"学生グル➖プ" ,class:"control-label col-sm-4"%>
						<div class="col-sm-8">
							<%= f.collection_select :lopsinhvien_id, Lopsinhvien.all, :id, :tenlopsinhvien, prompt: true %>
						</div>
					</div>
					<div class="form-group">
			      <div class="col-sm-offset-4 col-sm-8">
			        <%= f.submit "更新",class: "btn btn-primary"%>
			      </div>
	    		</div>
			<% end %>
		</div>
	</div>
</div>
