<%=provide(:title,"Danh sách sinh viên")%>
<div class="row">

	<div class="container" style="text-align:center; font-size: 30px; margin-bottom: 50px;">
		Danh sách sinh viên
	</div>
	<div class="col-md-4" style="background-color:#F2F5A9">
		<div class="form-horizontal" style="margin: 20px;">
			<%= form_tag(sinhviens_path, method: "get") do %>
					<div class="form-group">
						<label class="col-sm-4 control-label">Khóa học</label>
						<%=select_tag "khoahoc", options_from_collection_for_select(@khoahocs,"khoahoc","khoahoc", @selected[:khoahoc]),:include_blank=>"None",:onchange => "this.form.submit();",class:"col-sm-8"%>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Khoa viện</label>
						<%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();",class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Lớp sinh viên</label>
						<%=select_tag "lopsinhvien_id", options_from_collection_for_select(@lopsinhviens, "id", "tenlopsinhvien",@selected[:lopsinhvien_id]),:include_blank=>"None",:onchange => "this.form.submit();",class: "col-sm-8" %>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Mã sinh viên</label>
						<%=text_field_tag 'masinhvien',@selected[:masinhvien],class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Tên sinh viên</label>
						<%=text_field_tag 'tensinhvien',@selected[:tensinhvien], class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<%= submit_tag("Tìm kiếm sinh viên") %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-8">
		<%= render 'list' , object: @sinhviens %>	
		<div style="margin: auto; width: 20%; margin-top: 10px;">
			<%= link_to " Tải xuống ", sinhviens_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
		</div>
	</div>

</div>
