<%=provide(:title,"Danh sach sinh vien")%>
<div class="row">
	<div class="container" style="text-align:center; font-size: 30px; margin-bottom: 50px;">
		Danh sách sinh viên
	</div>
	<div class="col-md-4">
		<%= form_tag(sinhviens_path, method: "get") do %>
				<table>
					<tr>
						<td>Khoa viện</td>
						<td><%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%></td>
					</tr>
					<tr>
						<td>Lớp sinh viên</td>
						<td><%=select_tag "lopsinhvien_id", options_from_collection_for_select(@lopsinhviens, "id", "tenlopsinhvien",@selected[:lopsinhvien_id]),:include_blank=>"None",:onchange => "this.form.submit();" %></td>
					</tr>
					<tr>
						<td>Mã sinh viên</td>
						<td><%=text_field_tag 'masinhvien',@selected[:masinhvien]%></td>
					</tr>
					<tr>
						<td>Tên sinh viên</td>
						<td><%=text_field_tag 'tensinhvien',@selected[:tensinhvien]%></td>
					</tr>
				</table>
				<div style="width: 70%; margin:auto; margin-top: 20px;">
					<%= submit_tag("Tìm kiếm sinh viên") %>
				</div>
		<% end %>
	</div>
	<div class="col-md-8">
		<table class="table striped-table">
			<thead>
				<tr>
					<th>Mã sinh viên</th>
					<th>Tên sinh viên</th>
					<th>Ngày sinh</th>
					<th>Tên lớp SV</th>
				</tr>
			</thead>
			<body>
				<%@sinhviens.each do |sv| %>
				<tr>
					<td><%=link_to sv.masinhvien, sv %></td>
					<td><%=sv.tensinhvien%></td>
					<td><%=sv.ngaysinh%></td>
					<td><%=sv.tenlopsinhvien%></td>
				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @sinhviens , :outer_window=>1,:inner_window=>1, class: "pager"%>
		<div style="margin: auto; width: 20%; margin-top: 10px;">
			<%= link_to " Tải xuống ", sinhviens_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
		</div>
	</div>
</div>
