<%=provide(:title,"学生追加")%>
<div class="row">
	<div class="col-md-6">
		<h1>学生を追加</h1>
		<%= form_for(@sinhvien) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
				<table>
					<tr>
						<td><%= f.label :"名前" %></td>
						<td><%= f.text_field :tensinhvien ,class: 'form-control', placeholder: "Nhập tên sinh viên "%></td>
					</tr>
					<tr>
						<td><%= f.label :"学生コ➖ド" %></td>
						<td><%= f.text_field :masinhvien ,class: 'form-control', placeholder: "Nhập mã sinh viên "%></td>
					</tr>
					<tr>
						<td><%= f.label :"誕生日 " %></td>
						<td><%= f.date_select :ngaysinh ,:start_year=>1980,:end_year=>2000%><br></td>
					</tr>
					<tr>
						<td><%= f.label :"メ➖ル" %></td>
						<td><%= f.text_field :email ,class: 'form-control', placeholder: "メ➖ル "%></td>
					</tr>
					<tr>
						<td><%= f.label :"学生グル➖プ" %></td>
						<td><%= f.collection_select :lopsinhvien_id, Lopsinhvien.all, :id, :tenlopsinhvien, prompt: true %></td>
					</tr>
				</table>
				<div style="width: 70%; margin:auto; margin-top: 20px;">
					<%= f.submit "追加",class: "btn btn-primary"%>
				</div>
		<% end %>
	</div>	
	<div class="col-md-4 col-md-offset-2">
		<h3>From .csv file</h3>
	  	<%= form_tag import_sinhviens_path, multipart: true do %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Import",class: "btn btn-info" %>
	  	<% end %>
	</div>
</div>
