<%=provide(:title,"Tìm kiếm sinh viên")%>
<div class="row" id="sinhvien_search">	
	<div class="col-md-4">		
		<%=label_tag "Khóa học"%><br>
		<%=select_tag "khoahoc", options_from_collection_for_select([],"khoahoc","khoahoc"),:include_blank=>"All"%><br>				
		<%=label_tag "Khoa viện"%><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>					
		<%=label_tag "Lớp sinh viên"%><br>
		<%=select_tag "lopsinhvien_id", options_from_collection_for_select(Lopsinhvien.all, "id", "tenlopsinhvien"),:include_blank=>"All"%><br>
		<%=label_tag "Mã sinh viên"%><br>
		<%=text_field_tag 'masinhvien'%><br>
		<%=label_tag "Tên sinh viên"%><br>
		<%=text_field_tag 'tensinhvien'%>
	</div>
	<div class="col-md-8">
		<h1>Danh sách sinh viên</h1>		
		<div id="results"></div>
	</div>
</div>