<%=provide(:title,"学生検索")%>
<div class="row" id="sinhvien_search">	
	<div class="col-md-4">		
		<%=label_tag "年課"%><br>
		<%=select_tag "khoahoc", options_from_collection_for_select(@khoahocs,"khoahoc","khoahoc"),:include_blank=>"All"%><br>				
		<%=label_tag "学部"%><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>					
		<%=label_tag "学生グル➖プ"%><br>
		<%=select_tag "lopsinhvien_id", options_from_collection_for_select(Lopsinhvien.all, "id", "tenlopsinhvien"),:include_blank=>"All"%><br>
		<%=label_tag "学生コ➖ド"%><br>
		<%=text_field_tag 'masinhvien'%><br>
		<%=label_tag "学生名"%><br>
		<%=text_field_tag 'tensinhvien'%>
	</div>
	<div class="col-md-8">
		<h1>学生リスト</h1>		
		<div id="results"></div>
	</div>
</div>