<%=provide(:title,"Tìm kiếm sinh viên")%>
<div class="row" id="sinhvien_search">	
	<div class="col-md-4" style="background-color:#F2F5A9">		
					<div class="form-group">
						<%=label_tag "Khóa học"%><br>
						<%=select_tag "khoahoc", options_from_collection_for_select(@khoahocs,"khoahoc","khoahoc"),:include_blank=>"All"%>
					</div>
					<div class="form-group">
						<%=label_tag "Khoa viện"%><br>
						<%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();",class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<%=label_tag "Lớp sinh viên"%><br>
						<%=select_tag "lopsinhvien_id", options_from_collection_for_select(@lopsinhviens, "id", "tenlopsinhvien",@selected[:lopsinhvien_id]),:include_blank=>"None",:onchange => "this.form.submit();",class: "col-sm-8" %>
					</div>
					<div class="form-group">
						<%=label_tag "Mã sinh viên"%><br>
						<%=text_field_tag 'masinhvien',@selected[:masinhvien],class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<%=label_tag "Tên sinh viên"%><br>
						<%=text_field_tag 'tensinhvien',@selected[:tensinhvien], class: "col-sm-8"%>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<%= submit_tag("Tìm kiếm sinh viên") %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-8">
		<h1>Danh sách sinh viên</h1>		
		<div id="results"></div>
	</div>

</div>