<%=provide(:title,"Thong tin sinh vien ")%>
<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4" style="background-color:#F6D8CE">
		<div class="container">
			<ul class="list-group">
				<li><b>MSSV: </b><%=@sinhvien.masinhvien%></li>
				<li><b>Tên SV: </b><%=@sinhvien.tensinhvien%></li>
				<li><b>Ngày sinh: </b><%=@sinhvien.ngaysinh%></li>
				<li><b>Lớp: </b><%=@lopsinhvien.tenlopsinhvien%></li>
				<li><b>Email: </b><%=@sinhvien.email%></li>
				<li><b>Trạng thái: </b><%= @sinhvien.trangthai ? "Học" : "Thôi học"%></li>
			</ul>
		</div>
		<% if admin? %>
			<%=link_to "Sửa thông tin SV",edit_sinhvien_path(@sinhvien)%><br>
			<%= link_to ' ', @sinhvien, method: :delete,data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %>
		<%end%>
	</div>
	<div class="col-md-4">

	</div>
</div>
