<%=provide(:title,"Sinh viên đăng kí học")%>
<div class="row">
	<div class="col-md-6">
		<%= form_tag(svdkh_sinhviens_path, method: "get") do %>			
			Mã số sinh viên <%= text_field_tag :masinhvien, @selected[:masinhvien] %><br>
			<%=submit_tag "Tìm kiếm" %>
		<% end %>
		<% if @lophocs %>
		<div style="text-align: center; font-size: 30px">
			Danh sách lớp học kì này của sinh viên <%=@sinhvien.tensinhvien%>
		</div>		
		<table class="table table-striped" style="margin-top: 20px;">
			<thead>
				<tr>
					<th>Mã lớp</th>
					<th>Thời gian</th>
					<th>Địa điểm</th>
					<th>Mã học phần</th>
					<th>Tên học phần</th>
					<th>Tín chỉ</th>
					<th>Tín chỉ học phí</th>
					<th>Hệ số học phí</th>
				</tr>
			</thead>
			<body>
				<%tongTinChi=0%>
				<%tongTien=0%>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc, lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.mahocphan%></td>
					<td><%=lh.tenhocphan%></td>
					<td><%=lh.tinchi%></td><%tongTinChi+=lh.tinchi%>
					<td><%=lh.tinchihocphi%></td>				
					<td><%=lh.hesohocphi%></td><%tongTien+=lh.hesohocphi*lh.tinchihocphi%>
				</tr>
				<% end %>
				<tr>
					<td></td><td></td><td></td><td></td><td></td>
					<td><%=tongTinChi%></td>
					<td><%=tongTien%></td>
					<td></td>
				</tr>
			</body>
		</table>
		<ul>
			<li style="margin-bottom: 5px;">Định mức học phí: <%=@hocki.dinhmuchocphi%></li>
			<li>Tổng số tiền phải đóng trong kì: <%=tongTien*@hocki.dinhmuchocphi%></li>
			<% if current_hocki==@hocki %>
			<h3 style="color: red"><%= testTiet @lophocs %></h3>
			<%end%>
		</ul>
		<%else%>
			<h3>Không đăng kí lớp nào trong kì này.<h3>
		<%end%>		
	</div>
	<div class="col-md-6">
		<%=render 'tkb',object: to_tkb(@lophocs) if @lophocs %>
	</div>
</div>
