<%=provide(:title,"登録検索")%>
<div class="row" id="svdkh">
	<div class="col-md-6">
		<%=form_tag(svdkh_sinhviens_path,method: :get) do %>
		<h1>学生コ➖ド <%= text_field_tag :masinhvien,@sinhvien ? @sinhvien.masinhvien : nil%></h1><br>
		<% end %>
		<% if @lophocs %>
			<div style="text-align: center; font-size: 30px">
			学生: <br><b style="color:blue"><%=@sinhvien.tensinhvien%></b>
			</div>		
			<table class="table table-bordered table-striped" style="margin-top: 20px;">
				<thead>
					<tr>
						<th>クラスコ➖ド</th>
						<th>タイム</th>
						<th>教室</th>
						<th>科目コ➖ド</th>
						<th>科目名</th>
						<th>単位</th>
						<th>学費単位</th>
						<th>学期係数</th>
					</tr>
				</thead>
				<tbody>				
					<%@lophocs.each do |lh| %>
					<tr>
						<td><%=link_to lh.malophoc, lh%></td>
						<td><%=toStrTime(lh.thoigian)%></td>
						<td><%=lh.diadiem%></td>
						<td><%=lh.mahocphan%></td>
						<td><%=lh.tenhocphan%></td>
						<td><%=lh.tinchi%></td>
						<td><%=lh.tinchihocphi%></td>				
						<td><%=lh.hesohocphi%></td>
					</tr>
					<% end %>
					<tr>
						<td colspan="5">合計</td>
						<td><%=@lophocs.sum(&:tinchi)%></td>
						<td><%=@lophocs.sum(&:tongphi)%></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<ul class="list-group">
				<li class="list-group-item">単位学費: <%=@hocki.dinhmuchocphi%></li>
				<li class="list-group-item">合計: <%=@lophocs.sum(&:tongphi)*@hocki.dinhmuchocphi%></li>			
			</ul>
			<% if current_hocki==@hocki %>
			<h3 style="color: red"><%= testTiet @lophocs %></h3>
			<%end%>
		<%else%>
			<h3>登録したクラスがない<h3>
		<%end%>		
	</div>
	<div class="col-md-6">
		<%=render 'tkb',object: to_tkb(@lophocs) if @lophocs %>
	</div>
</div>
