<%=provide(:title,"Xem thời khóa biểu")%>
<div class="row">
	<div class="col-md-6">		
		<%= form_tag(thoikhoabieu_sinhviens_path, method: "get") do %>			
			Học kì <%=select_tag "hocki_id", options_from_collection_for_select(Hocki.all, "id", "mahocki", @hocki ? @hocki.id : nil),:include_blank=>"All",:onchange => "this.form.submit();"%><br><% end %>
		<% if @lophocs %>
			<div style="text-align: center; font-size: 30px">
				Danh sách lớp học
			</div>
			<table class="table table-bordered table-striped" style="margin-top: 20px;">
				<thead>
					<tr>
						<th>Mã lớp</th>
						<th>Thời gian</th>
						<th>Địa điểm</th>
						<th>Mã học phần</th>
						<th>Tên học phần</th>
						<th>Tín chỉ</th>
						<th>Tín chỉ học phí</th>
						<th>Hệ số học phí</th>
					</tr>
				</thead>
				<tbody>				
					<%@lophocs.each do |lh| %>
					<tr>
						<td><%=link_to lh.malophoc, lh%></td>
						<td><%=toStrTime(lh.thoigian)%></td>
						<td><%=lh.diadiem%></td>
						<td><%=lh.mahocphan%></td>
						<td><%=lh.tenhocphan%></td>
						<td><%=lh.tinchi%></td>
						<td><%=lh.tinchihocphi%></td>				
						<td><%=lh.hesohocphi%></td>
					</tr>
					<% end %>
					<tr>
						<td colspan="5">Tổng</td>
						<td><%=@lophocs.sum(&:tinchi)%></td>
						<td><%=@lophocs.sum(&:tongphi)%></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<ul class="list-group">
				<li class="list-group-item">Định mức học phí: <%=@hocki.dinhmuchocphi%></li>
				<li class="list-group-item">Tổng số tiền phải đóng trong kì: <%=@lophocs.sum(&:tongphi)*@hocki.dinhmuchocphi%></li>			
			</ul>
			<% if current_hocki==@hocki %>
			<h3 style="color: red"><%= testTiet @lophocs %></h3>
			<%end%>
		<%else%>
			<h3>Không đăng kí lớp nào trong học kì này</h3>
		<%end%>
	</div>
	<div class="col-md-6">
		<%=render 'tkb',object: to_tkb(@lophocs) if @lophocs %>
	</div>
</div>
