き<%=provide(:title,"スケ➖ジュール")%>
<div class="row">
	<div class="col-md-6">		
		<%= form_tag(thoikhoabieu_sinhviens_path, method: "get") do %>			
			学期 <%=select_tag "hocki_id", options_from_collection_for_select(Hocki.all, "id", "mahocki", @hocki ? @hocki.id : nil),:include_blank=>"All",:onchange => "this.form.submit();"%><br><% end %>
		<% if @lophocs %>
			<div style="text-align: center; font-size: 30px">
				クラスリスト
			</div>
			<table class="table table-bordered table-striped" style="margin-top: 20px;">
				<thead>
					<tr>
						<th>クラスコ➖ド</th>
						<th>タイム</th>
						<th>教室</th>
						<th>科目コ➖ド</th>
						<th>科目名</th>
						<th>単位</th>
						<th>学費単位</th>
						<th>学費係数</th>
					</tr>
				</thead>
				<tbody>				
					<%@lophocs.each do |lh| %>
					<tr>
						<td><%=link_to lh.malophoc, lh%></td>
						<td><%=toStrTime(lh.thoigian)%></td>
						<td><%=lh.diadiem%></td>
						<td><%=lh.mahocphan%></td>
						<td><%=lh.tenhocphan%></td>
						<td><%=lh.tinchi%></td>
						<td><%=lh.tinchihocphi%></td>				
						<td><%=lh.hesohocphi%></td>
					</tr>
					<% end %>
					<tr>
						<td colspan="5">合計</td>
						<td><%=@lophocs.sum(&:tinchi)%></td>
						<td><%=@lophocs.sum(&:tongphi)%></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<ul class="list-group">
				<li class="list-group-item">単位学費: <%=@hocki.dinhmuchocphi%></li>
				<li class="list-group-item">合計: <%=@lophocs.sum(&:tongphi)*@hocki.dinhmuchocphi%></li>			
			</ul>
			<% if current_hocki==@hocki %>
			<h3 style="color: red"><%= testTiet @lophocs %></h3>
			<%end%>
		<%else%>
			<h3>登録したクラスがない</h3>
		<%end%>
	</div>
	<div class="col-md-6">
		<%=render 'tkb',object: to_tkb(@lophocs) if @lophocs %>
	</div>
</div>
