<%=provide(:title,"Xem thoi khoa bieu")%>
<div class="row">
	<div class="col-md-6">
		<%= form_tag(thoikhoabieu_sinhviens_path, method: "get") do %>
			<%=hidden_field_tag "id", @sinhvien.id %>
			Hoc ki <%=select_tag "hocki_id", options_from_collection_for_select(Hocki.all, "id", "mahocki",@selected[:hocki_id]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>
		<% end %>
		<% if @lophocs && @lophocs.count>0 %>
		<div style="text-align: center; font-size: 30px">
			Danh sach lop hoc
		</div>
		<table class="table table-striped" style="margin-top: 20px;">
			<thead>
				<tr>
					<th>Ma lop</th>
					<th>Thoi gian</th>
					<th>Dia diem</th>
					<th>Ma hoc phan</th>
					<th>Ten hoc phan</th>
					<th>Tin chi</th>
					<th>Tin chi hoc phi</th>
					<th>He so hoc phi</th>
				</tr>
			</thead>
			<body>
				<%tongTinChi=0%>
				<%tongTien=0%>
				<%@lophocs.each do |lh| %>
				<tr>
					<td><%=link_to lh.malophoc, lh%></td>
					<td><%=toStrTime(lh.thoigian)%></td>
					<td><%=lh.diadiem%></td>
					<td><%=lh.hocphan.mahocphan%></td>
					<td><%=lh.hocphan.tenhocphan%></td>
					<td><%=lh.hocphan.tinchi%></td><%tongTinChi+=lh.hocphan.tinchi%>
					<td><%=lh.hocphan.tinchihocphi%></td>
					<%heso=lh.dangkilophocs.find_by(sinhvien_id: @sinhvien.id).hesohocphi%>
					<td><%=heso%></td><%tongTien+=heso*lh.hocphan.tinchihocphi%>
				</tr>
				<% end %>
				<tr>
					<td></td><td></td><td></td><td></td><td></td>
					<td><%=tongTinChi%></td>
					<td><%=tongTien%></td>
					<td></td>
				</tr>
			</body>
		</table>
		<ul>
			<li style="margin-bottom: 5px;">Dinh muc hoc phi: <%=@hocki.dinhmuchocphi%></li>
			<li>Tong so tien phai dong trong hoc ki: <%=tongTien*@hocki.dinhmuchocphi%></li>
		</ul>
		<%else%>
		Khong dang ki lop nao trong ki nay
		<%end%>
		<%=link_to 'Dang ki them lop hoc moi',dangkilophoc_sinhviens_path(id:@sinhvien.id,hocki_id:@hocki.id) if @hocki %><br>
	</div>
	<div class="col-md-6">
		<%=render 'tkb',object: to_tkb(@lophocs) if @lophocs && @lophocs.count>0 && @selected[:hocki_id]%>
	</div>
</div>
