<tr>
	<td><%=hocki.mahocki%></td>
	<td><%=hocki.dinhmuchocphi%></td>
	<td><%=hocki.bd%></td>
	<td><%=hocki.kt%></td>
	<td><%=link_to '',edit_hocki_path(hocki),class: "btn btn-warning glyphicon glyphicon-edit"%></td>
</tr>