<%=provide(:title,"Danh muc hoc ki ")%>
<div class="row">
	<div class="col-md-9">
		<table >
			<head>
				<tr><td>Ma hoc ki</td>
					<td>Dinh muc hoc phi</td>
					<td>Thoi gian bat dau</td>
					<td>Thoi gian ket thuc</td>											
				</tr>
			</head>
			<body>
				<%@hockis.each do |hk| %>
				<tr>
					<td><%=hk.mahocki%></td>
					<td><%=hk.dinhmuchocphi%></td>
					<td><%=hk.bd%></td>
					<td><%=hk.kt%></td>
					<td><%=link_to " Edit ",edit_hocki_path(hk)%></td>						
				</tr>
				<% end %>
			</body>
		</table>
		<%= will_paginate @hockis , :outer_window=>1,:inner_window=>1%>
		<%= page_entries_info @hockis %>

		<%= link_to ' Them hoc ki ', new_hocki_path %>		
	</div>
	<div class="col-md-9">
		<%= form_tag(hockis_path, method: "get") do %>	
  		Mo dang ki hoc phan trong hoc ki <%=select_tag "hocki_id_hp", options_from_collection_for_select(@hockis, "id", "mahocki",@selected[:hocki_id_hp]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>
  		Mo dang ki lop hoc trong hoc ki <%=select_tag "hocki_id_lh", options_from_collection_for_select(@hockis, "id", "mahocki",@selected[:hocki_id_lh]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>  	
<% end %>	  	
	</div>
</div>
