<%=provide(:title,"Thông tin học kì ")%>
<div class="row">
	<div class="col-md-3">
		Ma hoc ki <%=@hocki.mahocki%><br>		
		Dinh muc hoc phi <%=@hocki.dinhmuchocphi%><br>
		Thoi gian bat dau <%=@hocki.bd%><br>
		Thoi gian ket thuc <%=@hocki.kt%><br>
		<%=link_to " Sửa ",edit_hocki_path(@hocki)%>		
	</div>
	<div class="col-md-9">
		Mot con bo chan to		  	
	</div>
</div>

