<%=provide(:title,"Thêm đăng kí học phần")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Thêm đăng kí học phần mới </h1>
		<%= form_for(@dangkihocphan) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Sinh viên" %>
		    <%= f.collection_select :sinhvien_id, Sinhvien.where(trangthai: true), :id, :masinhvien, prompt: true %>
		    <%= f.label :"Học phần" %>
		    <%= f.collection_select :hocphan_id, Hocphan.all, :id, :mahocphan, prompt: true %> 
		    <%= f.hidden_field :hocki_id, :value=> @hocki_modangkihocphan.id %>
		    <%= f.submit "Thêm ",class: "btn btn-primary"%>
		<% end %>
	</div>	
</div>
