<%=provide(:title,"科目登録")%>
<div class="row" id="dangkihocphan">
	<div class="col-md-7">		
		<%=label_tag "学部"%><br>
		<%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),:include_blank=>"All"%><br>
		<%=label_tag "科目名"%><br>
		<%=text_field_tag 'tenhocphan'%><br>
		<%=label_tag "科目コ➖ド"%><br>
		<%=text_field_tag 'mahocphan'%><br>
		<div id="hocphan_list" sinhvien_id="<%=@sinhvien.id%>">
		<table class="table table-stripped table-bordered">
			<thead>
				<tr>
					<th>科目コ➖ド</th>
					<th>科目名 </th>
					<th>単位</th>
					<th>学費単位</th>
					<th>科目係数</th>
					<th>学部</th>
				</tr>
			</thead>
			<tbody>
				<%@hocphans.each do |hp| %>
				<tr>
					<td><%=link_to hp.mahocphan, hp%></td>
					<td><%=hp.tenhocphan%></td>
					<td><%=hp.tinchi%></td>
					<td><%=hp.tinchihocphi%></td>
					<td><%=(1-hp.trongso).round(1)%>-<%=hp.trongso%></td>
					<td><%=hp.tenkhoavien%></td>
					<% if @sinhvien %>
					<td><%=link_to '',dangkihocphans_path(dangkihocphan: {:sinhvien_id=>@sinhvien.id,:hocphan_id=>hp.id,:hocki_id=>@hocki_modangkihocphan.id}),method: :post,class: "btn btn-success glyphicon glyphicon-plus"%></td>
					<%end%>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @hocphans ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
		<%= page_entries_info @hocphans, model: "科目"%><br>
		</div>		
	</div>
	<div class="col-md-5">
		<% if @registeds %>
		<div class="col-md-12" style="text-align: center; font-size: 30px; margin-bottom: 20px;">
			学期： <%=@hocki_modangkihocphan.mahocki%>
		</div>
		<table class="table table-stripped table-bordered">
			<thead>
				<tr>
					<th>科目コ➖ド</th>
					<th>科目名</th>
					<th>単位</th>
					<th colspan="2">科目係数</th>
				</tr>
			</thead>
			<body>
				<%tongTinChi=0%>
				<%@registeds.each do |hp| %>
				<tr>
					<td><%=hp.mahocphan%></td>
					<td><%=hp.tenhocphan%></td>
					<td><%=hp.tinchi%></td><%tongTinChi+=hp.tinchi%>
					<td><%=(1-hp.trongso).round(1)%>-<%=hp.trongso%></td>
					<td><%=link_to ' ',dangkihocphan_path(hp.dkhp_id), method: :delete,data: { confirm: '削除' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>
				</tr>
				<% end %>
				<tr>
					<td colspan="2">合計</td><td><%=tongTinChi%></td>
				</tr>
			</body>
		</table>
		<%else%>			
		<%end%>
	</div>
</div>


