<tr>
	<td><%=link_to hocphan.mahocphan,hocphan%></td>
	<td><%=hocphan.tenhocphan%></td>
	<td><%=hocphan.tinchi%></td>
	<td><%=hocphan.tinchihocphi%></td>
	<td><%=(1-hocphan.trongso).round(1)%>-<%=hocphan.trongso%></td>
	<td><%=hocphan.tenkhoavien%></td>
</tr>