<div class="xyz">
  Danh muc hoc phan<br><br><br>
</div>
<%= form_tag("/hocphans", method: "get") do %>
  <div class="form-inline">
    <div class="col-md-2">
      Tim theo khoa vien <%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),include_blank:"None"%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ma hoc phan <%=text_field_tag 'mahocphan',@selected[:mahocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ten hoc phan <%=text_field_tag 'tenhocphan',@selected[:tenhocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
      <%= submit_tag "Search", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Ma hoc phan</th>
			<th>Ten hoc phan</th>
			<th>Tin chi</th>
			<th>Tin chi hoc phi</th>
			<th>Trong so</th>
			<th>Trang thai mo dang ki</th>
			<th>Khoa vien</th>
		</tr>
	</thead>
	<body>
		<%@hocphans.each do |hp| %>
		<tr>
			<td><%=hp.mahocphan%></td>
			<td><%=hp.tenhocphan%></td>
			<td><%=hp.tinchi%></td>
			<td><%=hp.tinchihocphi%></td>
			<td><%=hp.trongso%></td>
			<td><%=hp.modangki ? "Open" : "Close" %></td>
			<td><%=hp.tenkhoavien%></td>
		</tr>
		<% end %>
	</body>
</table>
