<div class="xyz">
  Danh muc hoc phan<br><br><br>
</div>
<%= form_tag(hocphans_path, method: "get") do %>
  <div class="form-inline">
    <div class="col-md-2">
      Tim theo khoa vien <%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),include_blank:"None",:onchange=>"this.form.submit();"%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ma hoc phan <%=text_field_tag 'mahocphan',@selected[:mahocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ten hoc phan <%=text_field_tag 'tenhocphan',@selected[:tenhocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
      <%= submit_tag "Search", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<%= will_paginate @hocphans , :outer_window=>1,:inner_window=>1%>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Ma hoc phan</th>
			<th>Ten hoc phan</th>
			<th>Tin chi</th>
			<th>Tin chi hoc phi</th>
			<th>Trong so</th>
			<th>Trang thai mo dang ki</th>
			<th>Khoa vien</th>
		</tr>
	</thead>
	<body>
		<%@hocphans.each do |hp| %>
		
		<tr>
			<td><%=link_to hp.mahocphan,hp%></td>
			<td><%=hp.tenhocphan%></td>
			<td><%=hp.tinchi%></td>
			<td><%=hp.tinchihocphi%></td>
			<td><%=(1-hp.trongso).round(1)%>-<%=hp.trongso%></td>
			<td><%=hp.modangki ? "Open" : "Close" %></td>
			<td><%=hp.khoavien.tenkhoavien%></td>
		</tr>
		<% end %>
	</body>
</table>
<%= will_paginate @hocphans , :outer_window=>1,:inner_window=>1%>
<%= page_entries_info @hocphans %>
<%= link_to " Tải xuống ", hocphans_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
<%= link_to ' Them hoc phan ', new_hocphan_path %>