<div class="xyz">
  Danh muc hoc phan<br><br><br>
</div>
<%= form_tag(hocphans_path, method: "get") do %>
  <div class="form-inline">
    <div class="col-md-2">
      Tim theo khoa vien <%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),include_blank:"None",:onchange=>"this.form.submit();"%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ma hoc phan <%=text_field_tag 'mahocphan',@selected[:mahocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      Tim theo ten hoc phan <%=text_field_tag 'tenhocphan',@selected[:tenhocphan]%>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
      <%= submit_tag "Search", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<%= render 'list', object: @hocphans %>
<%= link_to " Tải xuống ", hocphans_path(format: :csv), class: "btn btn-primary glyphicon glyphicon-download-alt"%>
