<%=provide(:title,"Thêm hoc phan ")%>
<div class="row">
	<div class="col-md-9">
		<h1>Thêm hoc phan mới </h1>
		<%= form_for(@hocphan) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Ma hoc phan" %>
		    <%= f.text_field :mahocphan ,class: 'form-control', placeholder: "Nhập ma hoc phan "%>
		    <%= f.label :"Tên hoc phan" %>
		    <%= f.text_field :tenhocphan ,class: 'form-control', placeholder: "Nhập tên hoc phan "%>
		    <%= f.label :"Tin chi" %>
		    <%= f.select :tinchi ,options_for_select((1..12).step(0.5))%> 
		    <%= f.label :"Tin chi hoc phi" %>
		    <%= f.select :tinchihocphi ,options_for_select((1.5..25).step(0.5))%>
		    <%= f.label :"Trong so" %>
		    <%= f.select :trongso ,options_for_select((0.5..1).step(0.1))%>
		    
		    <%= f.label :"Khoa vien" %>
		    <%= f.collection_select :khoavien_id, Khoavien.all, :id, :tenkhoavien, prompt: true %>
		    <%= f.submit "Thêm ",class: "btn btn-primary"%>
		<% end %>
	</div>
	<div class="col-md-3">
			  	
	</div>
</div>
