<%=provide(:title,"Tìm kiếm học phần ")%>
<div class="row">        
    <div class="form-inline">    
      <div class="col-md-2 col-md-offset-1">
        Tìm theo khoa viện <%=select_tag "khoavien_id", options_from_collection_for_select(Khoavien.all, "id", "tenkhoavien"),include_blank:"All"%>
      </div>    
      <div class="col-md-2">
        Tìm theo mã HP <%=text_field_tag 'mahocphan'%>
      </div>    
      <div class="col-md-2">
        Tìm theo tên HP <%=text_field_tag 'tenhocphan'%>
      </div>    
      <div class="col-md-2">
        Tìm theo số TC <%=number_field_tag 'tinchi'%>
      </div>      
    </div>       
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2" id="results"></div>
</div>