<%=provide(:title,"Thông tin học phần")%>
<div class="row">	
	<div class="col-md-6 col-md-offset-3">
		<ul class="list-group">
			<li class="list-group-item"><b>Mã học phần: </b><%=@hocphan.mahocphan%></li>
			<li class="list-group-item"><b>Tên học phần: </b><%=@hocphan.tenhocphan%></li>
			<li class="list-group-item"><b>Tín chỉ: </b><%=@hocphan.tinchi%></li>
			<li class="list-group-item"><b>Tín chỉ học phí: </b><%=@hocphan.tinchihocphi%></li>
			<li class="list-group-item"><b>Trọng số: </b><%=(1-@hocphan.trongso).round(1)%>-<%=@hocphan.trongso%></li>
			<li class="list-group-item"><b>Khoa viện: </b><%=@hocphan.tenkhoavien%></li>
		</ul>		
		<%=link_to "Sửa",edit_hocphan_path(@hocphan),class: "btn btn-warning"%>
		<%=link_to '', @hocphan, method: :delete,
				                                     data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %>

	</div>	
</div>
