<%=provide(:title,"Sửa lớp sinh viên ")%>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Thay đổi thông tin lớp sinh viên </h1>
		<%= form_for(@lopsinhvien) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Tên lớp" %>
		    <%= f.text_field :tenlopsinhvien ,class: 'form-control', placeholder: "Nhập tên lớp sinh viên "%>		    		    
		    <%= f.label :"Giáo viên chủ nhiệm" %><br>
		    <%= f.collection_select :giaovien_id, Giaovien.all, :id, :tengiaovien, prompt: true %><br>
			<%= f.label :"Khóa học" %><br>
		    <%= f.number_field :khoahoc ,class: 'form-control', placeholder: "Chọn khóa học "%>
		    <%= f.label :"Khoa viện" %><br>
		    <%= f.collection_select :khoavien_id, Khoavien.all, :id, :tenkhoavien, prompt: true %><br>
		    <%= f.submit "Thay đổi ",class: "btn btn-primary"%>
		<% end %>
	</div>
</div>
