<%= form_tag(lopsinhviens_path, method: "get") do %>	
  	Khoa vien <%=select_tag "khoavien_id", options_from_collection_for_select(@khoaviens, "id", "tenkhoavien",@selected[:khoavien_id]),:include_blank=>"None",:onchange => "this.form.submit();"%><br>
  	Ten lop sinh vien<%=text_field_tag "tenlopsinhvien",@selected[:tenlopsinhvien]%><br>
  	<%= submit_tag("Search") %> 
<% end %>
<%= will_paginate @sinhviens , :outer_window=>1,:inner_window=>1%>
<table >
	<head>
		<tr>
			<td>Ten lop sinh vien</td>
			<td>Giao vien chu nhiem</td>
			<td>Khoa hoc</td>
			<td>Khoa vien</td>			
		</tr>
	</head>
	<body>
		<%@lopsinhviens.each do |lsv| %>
		<tr>
			<td><%=link_to lsv.tenlopsinhvien,lsv%></td>
			<td><%=lsv.giaovien.tengiaovien%></td>
			<td><%=lsv.khoahoc%></td>
			<td><%=lsv.khoavien.tenkhoavien%></td>			
		</tr>
		<% end %>
	</body>
</table>
<%= will_paginate @sinhviens , :outer_window=>1,:inner_window=>1%>
<%= page_entries_info @sinhviens %>

<%= link_to ' Them lop sinh vien ', new_lopsinhvien_path %>