<%=provide(:title,"Thêm lop sinh vien ")%>
<div class="row">
	<div class="col-md-9">
		<h1>Thêm lop sinh vien mới </h1>
		<%= form_for(@lopsinhvien) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    <%= f.label :"Tên lop" %>
		    <%= f.text_field :tenlopsinhvien ,class: 'form-control', placeholder: "Nhập tên lop sinh vien "%>		    		    
		    <%= f.label :"Giao vien chu nhiem" %>
		    <%= f.collection_select :giaovien_id, Giaovien.all, :id, :tengiaovien, prompt: true %>
			<%= f.label :"Khoa hoc" %>
		    <%= f.number_field :khoahoc ,class: 'form-control', placeholder: "Chon khoa hoc "%>
		    <%= f.label :"Khoa vien" %>
		    <%= f.collection_select :khoavien_id, Khoavien.all, :id, :tenkhoavien, prompt: true %>
		    <%= f.submit "Thêm ",class: "btn btn-primary"%>
		<% end %>
	</div>
	<div class="col-md-3">
			  	
	</div>
</div>
