<%=provide(:title,"Thông tin lớp sinh viên")%>
<div class="row">
	<div class="col-md-4" style="background-color:#F6D8CE; font-size:20px;">
		<div class="container">
			<ul class="list-group">
				<li><b>Tên lớp sinh viên: </b><%=@lopsinhvien.tenlopsinhvien%></li>
				<li><b>Giáo viên: </b><%=@lopsinhvien.tengiaovien%></li>
				<li><b>Khóa học: </b><%=@lopsinhvien.khoahoc%></li>
				<li><b>Khoa viện: </b><%=@lopsinhvien.tenkhoavien%></li>
			</ul>
		</div>
		<%=link_to " Edit ",edit_lopsinhvien_path(@lopsinhvien)%>
	</div>
	<div class="col-md-2">

	</div>
	<div class="col-md-6">
	
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã sinh viên</th>
					<th>Tên sinh viên</th>
					<th>Ngày sinh</th>
				</tr>
			</thead>
			<body>
				<%@sinhviens.each do |sv| %>
				<tr>
					<td><%=link_to sv.masinhvien, sv%></td>
					<td><%=sv.tensinhvien%></td>
					<td><%=sv.ngaysinh%></td>
				</tr>
				<% end %>
			</body>
		</table>
	</div>
	
</div>

