<%=provide(:title,"Thong tin lop sinh vien ")%>
<div class="row">
	<div class="col-md-3">
		Ten lop sinh vien <%=@lopsinhvien.tenlopsinhvien%><br>
		Giao vien chu nhiem <%=@giaovien.tengiaovien%><br>
		Khoa hoc <%=@lopsinhvien.khoahoc%><br>
		Khoa vien <%=@khoavien.tenkhoavien%><br>
		
		<%=link_to " Edit ",edit_lopsinhvien_path(@lopsinhvien)%>		
	</div>
	<div class="col-md-9">
		<table >
			<head>
				<tr>
					<td>Ma sinh vien</td>
					<td>Ten sinh vien</td>
					<td>Ngay sinh</td>					
				</tr>
			</head>
			<body>
				<%@sinhviens.each do |sv| %>
				<tr>
					<td><%=link_to sv.masinhvien, sv%></td>
					<td><%=sv.tensinhvien%></td>
					<td><%=sv.ngaysinh%></td>	
				</tr>
				<% end %>
			</body>
		</table>			  	
	</div>
</div>

