<nav class="navbar" style="background:#0B2161">
  <div class="col-sm-1"></div>
  <div class="container-fluid">
    <ul class="nav navbar-nav menu navbar-left">
      <li class="active"><%= link_to 'ホ➖ム',root_path%></li>
      <% if admin? %>
        <li>
          <a ><%=@current_user.name%><span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to 'パスワ➖ド更新',edit_user_path(@current_user)%></li>
            <li><%= link_to 'ログアウト',logout_path,method: "delete"%></li>    
          </ul>
        </li>
        <li>
          <a >学生<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '学生検索',search_sinhviens_path %></li>
            <li><%= link_to '学生グル➖プ',lopsinhviens_path %></li>         
            <li><%= link_to '追加追加',new_sinhvien_path %></li>
            <li><%= link_to '登録検索',svdkh_sinhviens_path %></li>
          </ul>
        </li>
        <li>
          <a >科目<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '科目検索',search_hocphans_path %></li>
            <li><%= link_to '科目追加',new_hocphan_path %></li>
            <li><%= link_to '科目登録を追加',new_dangkihocphan_path if mo_dangki_hocphan? %></li>
          </ul>
        </li>
        <li>
          <a >クラス<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to 'クラス検索',search_lophocs_path %></li>         
            <li><%= link_to 'クラス追加',new_lophoc_path %>
            <li><%= link_to 'クラス登録を追加',new_dangkilophoc_path if mo_dangki_lophoc? %></li>
            <li><%= link_to '点数更新',dangkilophocs_path %></li>         
          </ul>
        </li>                    
        <li><%= link_to '学部',khoaviens_path%></li>
        <li><%= link_to '学期',hockis_path%></li>        
        <li>
          <a >教師<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '教師検索',search_giaoviens_path %></li>       
            <li><%= link_to '教師を追加',new_giaovien_path %>            
          </ul>
        </li>
      <%elsif sinhvien? %>
        <li>
          <a ><%=@current_user.name%><span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '学生情報',@current_sinhvien%></li>
            <li><%= link_to 'パスワ➖ド更新',edit_user_path(@current_user) %></li>
            <li><%= link_to 'ログアウト',logout_path,method: "delete"%></li>    
          </ul>
        </li>
        <li>
          <a>個人情報<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to 'コ➖ス',chuongtrinhdaotao_path(@current_sinhvien.lopsinhvien_id) %></li>
            <li><%= link_to 'スコアボ➖ド',bangdiem_sinhviens_path %></li>
            <li><%=link_to "スケ➖ジュ➖ル",thoikhoabieu_sinhviens_path %></li>
          </ul>
        </li>        
        <li>
          <a>登録<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to 'クラス登録',dangkilophoc_path(@current_sinhvien.id) if mo_dangki_lophoc? %></li>
            <li><%= link_to '科目登録',dangkihocphan_path(@current_sinhvien.id) if mo_dangki_hocphan? %></li>
            <% if current_hocki %>
            <li><%=link_to 'スケ➖ジュ➖ル検索',duyet_sinhviens_path%></li>
            <%end%>
          </ul>
        </li>
        <li>
          <a >検索<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '学生',search_sinhviens_path %></li>
            <li><%= link_to '登録検索',svdkh_sinhviens_path %></li>     
            <li><%= link_to '科目',search_hocphans_path %></li>
            <li><%= link_to 'クラス',search_lophocs_path %></li>
          </ul>
        </li> 
      <%else%>
        <li class="active"><%= link_to 'ログイン',login_path%></li>        
        <li>
          <a >検索<span class="caret"></span></a>
          <ul class="submenu" >
            <li><%= link_to '学生',search_sinhviens_path %></li>
            <li><%= link_to '登録検索',svdkh_sinhviens_path %></li>    
            <li><%= link_to '科目',search_hocphans_path %></li>
            <li><%= link_to 'クラス',search_lophocs_path %></li>
          </ul>
        </li>        
      <% end %>
    </ul>
  </div>
</nav>
